body {
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
}

#kontener {
    width: 95%;
    margin: auto;
}

#baner {
    background-color: #00838F;
    height: 200px;
}

#menu {
    background-color: #006064;
    padding: 15px;
}

#StronaGlowna, #Kontakt {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

#blok1, #blok2, #blok3 {
    width: 33%;
}

#BlokiGlowne {
    display: flex;
    height: 350px;
}

footer {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

#lista {
    text-align: left;
}

#BtnClear, #BtnSubmit {
    background-color: #00838F;
    color: white;
}

#BtnSubmit:hover {
    color: #80DEEA;
}

#BtnClear:hover {
    color: #80DEEA;
}